@import "tailwindcss";

.app {
  display: flex;
  position: relative;
}

::selection {
  color: #fff;
  background-color: #0a3981;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a3981;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
